<!--Reference: gem devise user models, avaliable: https://github.com/plataformatec/devise-->
<!--Generate by using rails generate devise:views-->
<!--This is the page which is used for user register-->

<div class="border-form-div">
<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="errormessage2"><%= devise_error_messages!%></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  <div><%= button_tag(:type => 'f.submit', :class => 'btn btn-success') do %>Sign Up<%end%></div>

<% end %>
<%= link_to "Sign in here", new_session_path(resource_name) %><br />
</div>
